<script src="/script.js"></script>
<script type="text/javascript">
	$(function() {
		update_orders_input();
		update_orders_button();
	});
</script>

<form action="/cart" method="post">
<input name="orders" type="text" id="orders_input" />

</form>