<script src="/script.js"></script>
<script type="text/javascript">

	$(function() {
		update_orders_input();
		update_orders_button();
	});
	
//	var orders_arr = cart_get_orders();

//	window.onload = $(function() {
//        document.getElementById('orders_input_table').innerHTML = orders_arr;
//    });

</script>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Product</th>
			<th>Count</th>
		</tr>
	</thead>
	<!-- <%# @res.each do |row| %> -->
	<tbody>
	 	<tr>
	  		<td> </td>
	  		<td> </td>
	 	</tr>
	</tbody>
	<!-- <%# end %> -->
</table>

<!--<p><span id="orders_input_table"></span></p>-->
<p><%= @orders.inspect %></p>