<h3>Welcome to Pizza Ria</h3>

<br />

<% @products.each do |p| %>

	<p>product tested text</p>

<% end %>

<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6"> grid tested content </div>
</div>

<br />

<button class="btn btn-success" onclick="test()">Click me!</button>